<!-- Desktop Header -->
<header class="w-full items-center bg-white py-2 px-6 hidden sm:flex">
        <div class="w-1/2"></div>
        <div x-data="{ isOpen: false }" class="relative w-1/2 flex justify-end">
            <button @click="isOpen = !isOpen" class="realtive z-10 w-12 h-12 rounded-full overflow-hidden border-4 border-gray-400 hover:border-gray-300 focus:border-gray-300 focus:outline-none">
                <img src="https://source.unsplash.com/uJ8LNVCBjFQ/400x400">
            </button>
            <button x-show="isOpen" @click="isOpen = false" class="h-full w-full fixed inset-0 cursor-default"></button>
            <div x-show="isOpen" class="absolute w-32 bg-white rounded-lg shadow-lg py-2 mt-16">
                <%= link_to 'Compte', edit_user_registration_path(@user), class:"block px-4 py-2 account-link hover:text-white" %>
                <%= link_to 'Déconnexion', destroy_user_session_path, method: :delete, class:"block px-4 py-2 account-link hover:text-white" %>
            </div>
        </div>
</header>

        <!-- Mobile Header & Nav -->
<header x-data="{ isOpen: false }" class="w-full bg-sidebar py-5 px-6 sm:hidden">
    <div class="flex items-center justify-between">
            <a href="index.html" class="text-white text-3xl font-semibold uppercase hover:text-gray-300">Admin</a>
            <button @click="isOpen = !isOpen" class="text-white text-3xl focus:outline-none">
                <i x-show="!isOpen" class="fas fa-bars"></i>
                <i x-show="isOpen" class="fas fa-times"></i>
            </button>
    </div>

    <!-- Dropdown Nav -->
    <nav :class="isOpen ? 'flex': 'hidden'" class="flex flex-col pt-4">
        <a href="#" class="flex items-center active-nav-link text-white py-2 pl-4 nav-item">
            <i class="fas fa-tachometer-alt mr-3"></i>
                    Dashboard
        </a>
        <a href="#" class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item">
            <i class="fas fa-sticky-note mr-3"></i>
                Pratiques
        </a>
        <a href="#" class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item">
            <i class="fas fa-table mr-3"></i>
                 Audiences
        </a>
        <a href="#" class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item">
            <i class="fas fa-align-left mr-3"></i>
                Mes Cours
        </a>
        <a href="#" class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item">
            <i class="fas fa-calendar mr-3"></i>
                WikiSources
        </a>
       
        <a href="#" class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item">
            <i class="fas fa-tablet-alt mr-3"></i>
                Internet: Gagnez +3Go
        </a>
        <hr>
        <%= link_to edit_user_registration_path(@user),
         class:"flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item" do %>
            <i class="fas fa-user mr-3"></i>
                Compte
        <% end %>
        <%= link_to destroy_user_session_path, method: :delete,
         class:"flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item" do %>
            <i class="fas fa-sign-out-alt mr-3"></i>
                Déconnecter
        <% end %>
        <button class="w-full bg-white cta-btn font-semibold py-2 mt-3 rounded-lg shadow-lg hover:shadow-xl hover:bg-gray-300 flex items-center justify-center">
            <i class="fas fa-arrow-circle-up mr-3"></i> Centre D'aide
        </button>
    </nav>
    <%= link_to new_course_path, 
    class:"w-full bg-white cta-btn font-semibold py-2 mt-5 rounded-br-lg
     rounded-bl-lg rounded-tr-lg shadow-lg hover:shadow-xl hover:bg-gray-300 
     flex items-center justify-center" do %>
        <i class="fas fa-plus mr-3"></i> Nouveau Cours
    <% end%>
</header>