<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @school.title %>
</p>

<p>
  <strong>Sigle:</strong>
  <%= @school.sigle %>
</p>

<p>
  <strong>Type:</strong>
  <%= @school.type %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @school.slug %>
</p>

<p>
  <strong>City manager:</strong>
  <%= @school.city_manager_id %>
</p>

<p>
  <strong>Size:</strong>
  <%= @school.size %>
</p>

<p>
  <strong>Citytown:</strong>
  <%= @school.citytown_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @school.user_id %>
</p>

<%= link_to 'Edit', edit_school_path(@school) %> |
<%= link_to 'Back', schools_path %>
