<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %></title>
    <!-- HEADERS-->
    <%= render "layouts/shared/headers" %>
  </head>

  <body class="bg-gray-200">
    <%= render "layouts/shared/noticed" %>
    <%= render "shared/nav/navbar" %>
    <%= yield %>
  </body>
</html>
