<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %></title>
    <!-- HEADERS-->
    <%= render "layouts/shared/headers" %>
  </head>

  <body class="bg-gray-100 font-family-karla flex">
    <%= render "layouts/shared/noticed" %>
    <%= render "dashboard/shared/teachers/aside" %>
    <%= yield %>
  </body>
</html>
